.seller-cta-section {
  padding: 30px ;
}

.seller-cta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 700px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.cta-content {
  flex-basis: 50%;
  padding: 50px;
  text-align: right;
}

.cta-content h2 {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.cta-content h1 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cta-content p {
  font-size: 16px;
  color: #333;
  line-height: 1.7;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #000;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
  background-color: #333;
  transform: translateY(-3px);
}

.cta-image-container {
  flex-basis: 50%;
  height: 400px; 
}

.cta-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
@media (max-width: 768px) {
  .seller-cta-container {
    flex-direction: column;
  }
  .cta-content {
    padding: 30px;
    text-align: center;
  }
  .cta-image-container {
    width: 100%;
    height: 250px;
  }
}