.footer {
  background-color: #000;
  color: #ccc;
  padding: 60px 5% 20px 5%;
  margin-top: 60px;
  border-top: 5px solid #333;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto 40px auto;
  text-align: right;
}

.footer-column {
  flex: 1;
  min-width: 220px;
}

.footer-logo {
  width: 180px;
  margin-bottom: 20px;
  
}

.footer-column p {
  font-size: 14px;
  line-height: 1.6;
  color: #aaa;
  max-width: 300px;
}

.footer-column h4 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 25px;
  position: relative;
}

/* خط صغير تحت العناوين */
.footer-column h4::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 40px;
  height: 2px;
  background-color: #fff;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 12px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
  transition: color 0.3s ease, padding-right 0.3s ease;
}

.footer-column ul li a:hover {
  color: #fff;
  padding-right: 5px;
}

.footer-social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 24px;
  margin-top: 20px;
}

.footer-social-icons a {
  color: #ccc;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social-icons a:hover {
  color: #fff;
  transform: translateY(-3px);
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
  font-size: 14px;
  color: #888;
}